body{
    margin:0;
    padding: 0;
    background: #F5F5DC;
}

.header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 5rem;
    gap: 10rem;
    color: #FAF9F6;
    font-family: sans-serif;
    font-size: 1.25rem;
    background: #5A86AD;
    border: 2px solid black;
    height: 80px;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 50px auto;
    width: 450px;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    
}

.heading{
    color: #A88905;
}

.input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem 1rem 0.5rem;
    background:  #FFFFF0;
}

.topic{
    color: teal;
}

button:hover{
    color: #FFFFF0;
    background: black;
}

button:after{
    color: grey;
}
